# dependencies
**/node_modules/**

# next.js
static/.next/**
static/out/**

cms/build/**
cms/.cache/**
cms/.tmp/**
cms/public/uploads/**
!cms/public/uploads/.gitkeep

# production
static/build/**

# debug
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
